body {
    margin: 0;
    padding: 0;
}

p {
    padding: 0;
    margin: 0;
}

a {
    padding-top: 10px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1vh;
}

.header {
    background: linear-gradient(160deg, #6201cb 0%, #ca1bfe 100%);
    width: 100%;
    text-align: center;
    color: white;
}

.form {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form button {
    margin: 5% 0;
    background: linear-gradient(160deg, #6201cb 0%, #ca1bfe 100%);
    border: none;
    color: white;
    padding: 3%;
    border-radius: 10px;
    font-size: large;
}

button:hover {
    cursor: pointer;
    color: rgb(220, 107, 243);
}


.nftCard {
    padding: 2%;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 600px;
    text-align: center;
    border: 1px solid black;
    align-items: center;
}

h2 {
    line-height: 50%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: auto;
    justify-content: space-around;
    align-items: flex-start;
    height: auto;
    row-gap: 10px;
}

.grid-item {
    max-width: 100%;
    min-width: 80px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    text-align: left;
    border-radius: 10px;
    font-size: 14px;
    padding-left: 5%;
}

@media only screen and (min-width: 800px) {
    .grid-container {
        grid-template-columns: repeat(4, 23%);
    }
}